APP_NAME=Go API Starter Kit
APP_DEBUG=true
FRONTEND_BASE_URL=http://localhost:8080
SERVER_PORT=8080
SERVER_CORS_ORIGINS=http://localhost:8080

LOG_LEVEL=info
LOG_FORMAT=json

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=go_starter_kit

JWT_ACCESS_SECRET=secret_key
JWT_REFRESH_SECRET=secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=168h

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_TLS_MODE=starttls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=test@example.com
MAIL_FROM_NAME=Go API Starter Kit
